*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #777;
  color: #fff;
}
.card{
  background: #444;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.pro{
  background: #0a036c;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  height: 70px;
  width: 30%;
}

.count{
  background: #5b1111;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  height: 70px;
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
  
}
button{
  border-radius: 3px;
  border: #0a036c solid 2px;
  background-color: rgb(21, 196, 2);
  padding: 5px;
  height: 70%;
}